<ion-content>
  <div class="login-container">
    <div class="login-card">
      
      <h1>Bienvenido</h1>
      
      <ion-item lines="none"> 
        <ion-label position="floating">Usuario</ion-label>
        <ion-input id="input-usuario" [(ngModel)]="usuario" type="text"></ion-input>
      </ion-item>
      
      <ion-item lines="none">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input id="input-password" type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
      
      <ion-button id="btn-login" expand="block" (click)="login()">
        INGRESAR
      </ion-button>
      
      <ion-button id="btn-registro" expand="block" fill="outline" routerLink="/registro">
        REGISTRARSE
      </ion-button>

    </div>
  </div>
</ion-content>


